body {
	background-color: #009688;
	margin: 0;
	overflow-x: hidden;
}

.toolbar {
	align-items: center;
	justify-content: space-between;
	background: #00796B;
	position: absolute;
	display: flex;
	height: 60px;
	width: 100%;
	z-index: 10;
}

.content {
	color: #FFF;
	padding-top: 84px;
}

#theButton {
	background-color: #FF5252;
	border: 1px solid #FFF;
	font-size: 4em;
	font-weight: 100;
}

form {
	width: 320px;
}

form input.warning {
	border: 1px solid red;
}

#user-login {
	margin-left: 24px;
}

#container {
	height: 100%;
}

#home {
	text-align: center;
}

#home button {
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

#settings {
	border-left: 1px solid black;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 250ms ease-in-out;
	width: 0;
}

#messageSettings {
	padding-top: 60px;
}

.accordion-toggle {
	padding: 12px;
	border-bottom: 1px solid #000;
	display: block;
}

.accordion-inner {
	padding: 12px;
}

.accordion-toggle:hover, .accordion-toggle:focus {
	text-decoration: none;
}

.accordion-heading:hover {
	background: #EEE;
}

#settings.open {
	background: white;
	width: 320px;
}

/*---------------- Nav Toggle ----------------*/

.signed-out #nav-toggle {
	display: none;
}

#nav-toggle {
	cursor: pointer;
	margin-right: 24px;
	padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #FFF;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 250ms ease-in-out;
}

#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: rotate(-45deg);
}

/*Jumbotron*/

.jumbotron {
	padding: 5em;
	background-color: inherit;
}

/*Sign-in*/

#user-login .login-link-text {
	padding: 1em;
	border: 1px solid white;
	border-radius: 4px;
	color: #FFF;
	text-decoration: none;
}

#login-dropdown-list {
	top: -10px;
	left: -6px;
}