body {
	background-color: #009688;
	margin: 0;
	overflow-x: hidden;
}

.btn-primary {
	background-color: #00796B;
	border-color: #FFF;
	color: #FFF;
}

.btn-primary:hover {
	background-color: #FFF;
	border-color: #00796B;
	color: #00796B;
}

.toolbar {
	align-items: center;
	justify-content: space-between;
	background: #00796B;
	border-bottom: 1px solid #B6B6B6;
	position: absolute;
	display: flex;
	height: 60px;
	width: 100%;
	z-index: 10;
}

.content {
	color: #FFF;
	padding-top: 84px;
}

#theButton {
	background-color: #FF5252;
	border: 1px solid #B6B6B6;
	font-size: 4em;
	font-weight: 100;

	transition: border 0.5s linear;
	-webkit-transition: border 0.5s linear;
	-moz-transition: border 0.5s linear;
}

#theButton:disabled {
	border-width: 80px;

	transition: border 0s linear;
	-webkit-transition: border 0s linear;
	-moz-transition: border 0s linear;
}

#theButton.holding {
	border-width: 80px;

	transition: border 3s linear;
	-webkit-transition: border 3s linear;
	-moz-transition: border 3s linear;
}

form {
	width: 320px;
}

#settings h4 {
	margin-left: 12px;
}

#user-login {
	margin-left: 24px;
}

#container {
	height: 100%;
}

#home {
	text-align: center;
}

#home button {
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

#settings {
	background: #00796B;
	color: #FFF;
	border-left: 1px solid #B6B6B6;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 250ms ease-in-out;
	width: 0;
}

#messageSettings {
	border-bottom: 1px solid #B6B6B6;
	padding-top: 60px;
}

.accordion-toggle {
	background: #FFF;
	color: #000;
	display: block;
	padding: 12px;
}

.accordion-toggle.collapsed {
	background: #00796B;
	color: #FFF;
}

.accordion-inner {
	padding: 12px;
}

.accordion-toggle:hover, .accordion-toggle.collapsed:hover {
	color: #000;
	background: #EEE;
	text-decoration: none;
}

.accordion-toggle:focus, .accordion-toggle.collapsed:focus {
	color: #000;
	text-decoration: none;
}

#settings.open {
	margin-left: 12px;
	width: 320px;
}

/*---------------- Nav Toggle ----------------*/

.signed-out #nav-toggle {
	display: none;
}

#nav-toggle {
	cursor: pointer;
	margin-right: 24px;
	padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #FFF;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 250ms ease-in-out;
}

#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: rotate(-45deg);
}

/*Jumbotron*/

.jumbotron {
	padding: 5em;
	background-color: inherit;
}

/*Sign-in*/

#user-login .login-link-text {
	padding: 1em;
	border: 1px solid white;
	border-radius: 4px;
	color: #FFF;
	text-decoration: none;
}

#login-dropdown-list {
	top: -10px;
	left: -6px;
}

@media screen and (max-device-width: 480px) {
	.jumbotron {
		padding: 1em 3em;
	}

	#home button {
		border-radius: 50%;
		height: 250px;
		width: 250px;
	}

	#theButton:disabled {
		border-width: 40px;
	}

	#theButton.holding {
		border-width: 40px;
	}

	.accordion-inner form {
		width: 295px;
	}
}