<head>
	<title>Help Button</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>

<body>
	<div id="container">
		<div class="toolbar {{#unless currentUser}}signed-out{{/unless}}">
			<div id="user-login">
				{{> loginButtons}}
			</div>

			<div id="nav-toggle">
				<span></span>
			</div>
		</div>

		{{#if currentUser}}
			<div id="settings">
				<div id="messageSettings">
					<form action="">
						{{> messageForm}}
					</form>
				</div>
				<div id="contacts">
					<h4>Contacts</h4>

					<div class="accordion" id="accordion2">
						{{#each contacts}}
							{{> contactForm}}
						{{/each}}

						{{>contactForm}}
					</div>
				</div>
			</div>
		{{/if}}

		<div class="content">
			{{#if currentUser}}
				<div id="home">
					{{> button}}
				</div>
			{{else}}
				{{> jumboText}}
			{{/if}}
		</div>
	</div>
</body>

<template name="button">
	{{#with timer}}
		<button disabled="{{disabled}}" id="theButton" class="btn btn-danger">
			{{#unless disabled}}
				Help!
			{{else}}
				Sent!
			{{/unless}}
		</button>

		{{#if disabled}}
			<div>
				Must wait {{timeRemaining}} more minutes
			</div>
		{{/if}}
	{{/with}}
</template>

<template name="jumboText">
	<div class="jumbotron">
		<h1>The Help Button</h1>
		<h2>A lightning-fast way to reach out to the ones who care about you.</h2>
	</div>
</template>

<template name="messageForm">
	<h4>Message Settings</h4>
	<div class="form-group col-sm-10">
		<div class="controls">
			<label class="control-label">Subject</label>
			<input class="form-control" type="text" name="messageSubject" placeholder="Message Subject" value="{{messageSubject}}" />
		</div>
	</div>

	<div class="form-group col-sm-10">
		<div class="controls">
			<label class="control-label">Body</label>
			<textarea class="form-control" rows="3" name="messageBody">{{messageBody}}</textarea>
		</div>
	</div>

	<button class="btn btn-primary" type="submit">Update Message</button>
</template>

<template name="contactForm">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{_id}}">
				{{#if name}}
					{{name}}
				{{else}}
					Add New
				{{/if}}
			</a>
		</div>

		<div id="collapse{{_id}}" class="accordion-body collapse">
			<div class="accordion-inner">

				{{#unless _id}}
					<h3>Create New Contact</h3>
				{{/unless}}

				<form class="{{#unless _id}}new-contact{{/unless}} form-horizontal">
					<div class="form-group col-sm-10">
						<label class="checkbox-inline">
							<input type="checkbox" name="contactEnabled" checked="{{contactEnabled}}">
							Active Contact
						</label>
					</div>

					<div class="form-group col-sm-10">
						<label class="checkbox-inline">
							<input type="checkbox" name="sendToEmail" checked="{{sendToEmail}}">
							Send to Email
						</label>
					</div>

					<div class="form-group col-sm-10">
						<label class="checkbox-inline">
							<input type="checkbox" name="sendToText" checked="{{sendToText}}">
							Send to Text
						</label>
					</div>

					<div class="form-group col-sm-10">
						<div class="controls">
							<label class="control-label">Name</label>
							<input class="form-control" type="text" name="name" placeholder="Contact's  Name" value="{{name}}" />
						</div>
					</div>

					<div class="form-group col-sm-10">
						<div class="controls">
							<label class="control-label">Email</label>
							<input class="form-control" type="text" name="email" placeholder="Contact's  Email Address" value="{{email}}" />
						</div>
					</div>

					<div class="form-group col-sm-10">
						<div class="controls">
							<label class="control-label">Phone Number</label>
							<input class="form-control" type="text" name="phone" placeholder="Contact's Phone Number" value="{{phone}}" />
						</div>
					</div>

					<div class="form-group col-sm-10">
						<label class="control-label">Phone Provider</label>

						<select class="form-control" name="provider">
							<option selected="{{providerIs 0}}" value="0">AT&T</option>
							<option selected="{{providerIs 1}}" value="1">Sprint</option>
							<option selected="{{providerIs 2}}" value="2">T-Mobile</option>
							<option selected="{{providerIs 3}}" value="3">Verizon</option>
						</select>
					</div>

					<input type="hidden" name="contactId" value="{{_id}}" />

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">
							{{#unless _id}}
								Add Contact
							{{else}}
								Update Contact
							{{/unless}}
						</button>

						{{#if _id}}
							{{> deleteContact}}
						{{/if}}
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<template name="deleteContact">
	<button class="btn btn-danger" data-id="{{_id}}">Remove Contact</button>
</template>